<div style="height:600px;">
	<json-editor [options]="editorOptions" (jsonChange)="changeLog($event)" [data]="data" #editor></json-editor>
	<app-show [data]="showData"></app-show>
</div>



<h3>Using options and data variable </h3>

<div style="height:300px;">
	<form [formGroup]="form" (submit)="submit()">
		<json-editor [options]="editorOptions2" formControlName="myinput" #editorTwo></json-editor>
		<div *ngIf="formData">
			<h4>Form submitted</h4>
			{{ formData }}
		</div>
		<button>Submit</button>
	</form>
</div>


<h2>Multi json in a loop</h2>
<button (click)="show=!show">Show/Hide Json Editors</button>
<div *ngIf="show === true">
	<div *ngFor="let prd of dataMulti.products" class="w-100-p p-24">
		<json-editor [options]="makeOptions()" [data]="prd" (change)="showJson($event)"></json-editor>
	</div>
</div>


<table>
	<tr>
		<td>Last edit data</td>
	</tr>
	<tr>
		<td>{{EditedData}}</td>
	</tr>
</table>
<hr>